h1, h4 {
    font-family: pixel;
}

.btn {
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    margin-top: 5%;
    background-color: rgb(115, 34, 150);
    border-color: rgb(115, 34, 150);;
}