<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
        <img width="40" alt="Slack" src="assets/img/slack.jpg"/>
        <p id="nav-brand-text" style="font-family: pixel; margin-top: 1%;">Slack-cuestionario</p>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a id="nav-text" class="nav-link" href="/home">Agregar preguntas<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="nav-text" class="nav-link" href="/listado">Ver listado</a>
        </li>
      </ul>
    </div>
  </nav>
