<div mat-dialog-content>
    <div style="margin-bottom: 5%;">
      <button type="button" class="close" aria-label="Close" (click)="cerrarDialogo()">
          <span aria-hidden="true">×</span>
      </button>
    </div>
    <h3 style="font-family: pixel;">{{mensaje}}</h3>
</div>
<div mat-dialog-actions>
  <button class="btn btn-outline-secondary" (click)="cerrarDialogo()" style="margin-right: 5%; font-family: pixel;">No</button>
  <button class="btn btn-outline-primary" style="font-family: pixel;" [mat-dialog-close]="accion" cdkFocusInitial>Si</button>
</div>