.section-column {
    padding: 10px; 
    width: 45%; 
    text-align: justify;
}

.footer-column-left {
    float: left; 
    font-size: 100%;
}

.footer-column-right {
    float: right; 
}

.footer {
    margin-top: 30%;
    padding-top: 5%;
    padding-bottom: 15%;
}